<thead>
	<tr>
		<td>
			<%= link_to('Update', {:action => 'hello'})
			link_to 'Update', editchild_child_path, class: "btn btn-success" %>
		</td>
	</tr>
</thead>
<tbody>
	<tr>
  	<td> This is show child    	</td>
  </tr>
</tbody>