
  <%= form_for(@health_record) do |f| %>
  <div class="field">
    <%= f.label :relevant_information %>
    <%= f.text_field :relevant_information %><br>
  </div>
  
  <div  class: "btn btn-large btn-primary">
    <%= f.submit %>
  </div>
 <% end %>
