/* assessment */
.physical_comment_field{
  width: 80%;
}

.sig_title{
  width: 130px;
}

/* physicali */
.physical_title{
  font-weight: bold;
}

/* vision */
.vision_title{
  font-weight: bold;
  width: 130px;
}

.label.vision_checkbox_label{
  font-weight: bold;
  width: 130px;
}

.vision_text_field{
  width: 430px;
}


/* hearing */
.hearing_text_field{
  width: 430px;
}

.td_hearing_ear{
  font-weight: bold;
  width: 80px;
}
.hearing_title{
  font-weight: bold;
}

/* editvitals */
.edit_vitals_label{
  font-weight: bold;
}

.td_edit_vitals {
  width:130px;
  float:left;
  text-align:right;
  margin-right: 0.5em;
  display:block;
  font-weight: bold;
}

/* menu */
.table td.td_menu{
  align-content: space-around;
  text-align: center;
}

/* vitals */

.number_field{
  width: 34px;
  
}

.ten_number_field{
  width: 80px;
}

.two_labels{
  
}

.td_two{
  width: 50%;
}

.td_three{
  width: 33.33%;
}

/* child */
.show_child_td{
  width: 130px;
  text-align: right;
  font-weight: bold;
}

.table td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.checkbox{

}

/* roster */

.text_field{
  width: 98%;
}

td.roster_td{
  width: 130px;
}

td{
  width: inherit;
  padding-right: 30px;
}

.directory{
  
}